/* ------------*/
/*BASIC SETUP*/
/*------------*/
/*----orange color #e67e22  */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato" "Ariel" "Sans-serif";
  font-weight: 300px;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*------------*/
/*REUSABLE COMPONENTS*/
/*-----------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.container__item {
  padding: 1%;
}

/*------HEADINGS------*/

h1,
h2 {
  font-weight: 300px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 2px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-top: 5%;
}

h3 {
  font-size: 110%;
  margin-bottom: 8%;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 2%;
}

/*------PARAGRAPH------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.container__item p {
  font-size: 90%;
  line-height: 145%;
}

/*-------ICONS------*/

.icon-big {
  font-size: 250%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  color: #e67e22;
  font-size: 120%;
  margin-right: 5px;
  display: inline-block;
}

/*-------BUTTONS------*/

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: white;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #e67e22;
  color: white;
}

.btn-app img {
  width: auto;
  height: 50px;
  margin-right: 10px;
  margin-top: 30px;
}

.btn-app:link,
.btn-app:visited {
  border: 0px;
}

/*-------LINKS------*/

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom (0.2s), color 0.2s;
}

a:hover,
a:active {
  color: #000;
  border: 1px solid #fffefc;
}

/* ------------*/
/*HEADER*/
/*------------*/

header {
  background-image: url("img/hero.jpg");
  background-color: linear-gradient (rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.container {
  display: flex;
  gap: 10px;
  margin: 1%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.row,
.container {
  margin-left: 5%;
}

/*-------FEATURES------*/

.section-features,
.long-copy {
  margin-bottom: 30px;
}

/*------- MEALS------*/

.section-meal {
  padding: 0%;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0000;
}

.meal-photo img {
  opacity: 0.8;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/*-------HOW IT WORKS-----*/

.section-steps {
  background-color: #f4f4f4;
}

.app-screen {
  width: 90%;
  padding-left: 60%;
  padding-top: 8%;
  padding-bottom: 10%;
}

.steps-box {
  padding: 3%;
  margin: 1% 0% 7% 0%;
}

.rows {
  display: flex;
  width: 85%;
}

.numbersteps {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  font-size: 120%;
  font-weight: bold;
  padding-top: 5px;
  float: left;
}

p {
  margin-bottom: 3px;
  text-align: left;
  padding-right: 13%;
  display: inline-block;
}

/*------- city building------*/

.container-items img {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 10px;
}

.city-features {
  margin-bottom: 10px;
}

/*------- TESTIMONIALS------*/

.section-testimonials {
  background-image: url("img/back-customers.jpg");
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  opacity: 0.7;
}

.container-testimonials {
  display: flex;
  text-align: justify;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 20px;
  display: block;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/*SIGNUP SECTIN----------------*/

.section-plan {
  background-color: #f4f4f4;
}

.main-container-plan-box {
  display: flex;
  text-align: justify;
  gap: 150px;
  padding-left: 10%;
}

.plan-box {
  background-color: #fcfcfc;
  border-radius: 5px;
  width: 95%;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px #efefef;
}

.plan-price {
  font-size: 250%;
  font-weight: 100;
  margin-bottom: 10px;
  color: #e67e22;
}

.plan-price span {
  font-size: 50%;
  font-weight: 300;
  color: black;
}

.plan-price-meal {
  font-size: 80%;
}

.list-plan {
  background-color: #fff;
  padding: 5px 0px;
}

.small-icons {
  color: #e67e22;
}

a {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
}

/*---FORM----*/
/*---FORM----

/*i have not been using this at all, i hope i dont get to revert to it.*/
.contact-form {
  width: 60%;
  margin: 0 auto;
}

label {
  display: flex;
  border-radius: 3px;
}
.contact-form {
  padding-left: 30%;
}

input,
select,
textarea {
  margin-left: 200px;
  margin-bottom: 20px;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #e67e22;
}
---FORM----*/

/*---FORM----*/
input {
  margin-left: 180px;
}

select {
  margin-left: 60px;
}

textarea {
  margin-left: 130px;
}

input,
select,
textarea {
  border: 1px solid #e67e22;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form {
  padding-left: 20%;
}

.submitbutton {
  padding-left: 15%;
}

.button {
  background-color: #e67e22;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.tickcheckbox {
  margin: 10px 5px 20px 135px;
}

.dropaline {
  padding-bottom: 10%;
}

/*-----FOOTER-----*/

footer {
  background-color: #444;
  padding: 2%;
}

.footer-nav1 {
  display: inline-flex;
  list-style: none;
  gap: 10%;
  margin-left: 4%;
  color: #888;
}

.footer-nav2 {
  display: inline-flex;
  list-style: none;
  gap: 25%;
  margin-left: 50%;
}

footer p {
  font-size: 15px;
  padding-left: 45%;
}
